<h1>Bilans dla całego roku</h1>
<%= column_chart @yearly_bilans %>
<a href='/bilans/1'class="btn btn-primary"> January </a>
<a href='/bilans/2'class="btn btn-primary"> February </a>
<a href='/bilans/3'class="btn btn-primary"> March </a>
<a href='/bilans/4'class="btn btn-primary"> April </a>
<a href='/bilans/5'class="btn btn-primary"> May </a>
<a href='/bilans/6'class="btn btn-primary"> June </a>
<a href='/bilans/7'class="btn btn-primary"> July </a>
<a href='/bilans/8'class="btn btn-primary"> August </a>
<a href='/bilans/9'class="btn btn-primary"> September </a>
<a href='/bilans/10'class="btn btn-primary"> October </a>
<a href='/bilans/11'class="btn btn-primary"> November </a>
<a href='/bilans/12'class="btn btn-primary"> December </a>